<div class="widget clearfix">

    <h4>Connectez-vous</h4>

    <form id="login-form" name="login-form" class="nobottommargin" action="{{ path("fos_user_security_check") }}" method="post" >

        <div class="col_full">
            <label for="login-form-username">Votre adresse e-mail</label>
            <input type="text" id="login-form-username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control" />
        </div>

        <div class="col_full">
            <label for="login-form-password">Votre mot de passe :</label>
            <input type="password" id="login-form-password" name="_password" required="required" autocomplete="current-password" class="form-control" />
        </div>

        <div class="col_full nobottommargin">
            <input type="submit" id="_submit" name="_submit" class="button button-3d button-black nomargin" value="Connexion" />
            <a href="#" class="fright">Mot de passe oublié ?</a>
        </div>
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}


        {% if error %}
        <div class="col_full nobottommargin">
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        </div>
        {% endif %}

    </form>

</div>