<div id="processTabs">
    <ul class="process-steps bottommargin clearfix">
        <li {% if step == 1 %}class="active"{% endif %}>
            <a href="#" class="i-circled i-bordered i-alt divcenter">1</a>
            <h5>Choisissez un service</h5>
        </li>
        <li {% if step == 2 %}class="active"{% endif %}>
            <a href="#" class=" i-circled i-bordered i-alt divcenter">2</a>
            <h5>Choisissez un créneau</h5>
        </li>
        <li {% if step == 3 %}class="active"{% endif %}>
            <a href="#" class=" i-circled i-bordered i-alt divcenter">3</a>
            <h5>Choisissez un moyen de paiement</h5>
        </li>
        <li {% if step == 4 %}class="active"{% endif %}>
            <a href="#" class=" i-circled i-bordered i-alt divcenter ">4</a>
            <h5>Confirmation avant réservation</h5>
        </li>
    </ul>
</div>